/* Modal Background */
.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Darker overlay */
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  margin-top: 1rem;
}

/* Modal Container */
.modalContainer {
  width: 500px;
  height: 200px;
  border-radius: 12px;
  background-color: #1e1e1e; /* Dark background color */
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  color: #e0e0e0; /* Light text color */
}

.modalContainer {
  display: inline-block;
  text-align: center;
}

/* Title Styles */
.title {
  display: inline-block;
  text-align: center;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 1px;
  cursor: pointer;
  color: #e0e0e0; /* Light text color for button */
}

/* Modal Body */
.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

/* Modal Footer */
.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  width: 100px;
  height: 35px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

#cancelBtn {
  background-color: crimson;
}
